@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --font: 'Open Sans', sans-serif;
    --color-background: #FFFFFF;
    --color-container: #E5E5E5;
    --color-input-border: #E4E4E4;
    --color-input-placeholder: #818181;
    --color-button: #006B64;
    --color-button-label: #FAFAFA;    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font);         
}

body {    
    background-color: var(--color-background);
}

.form-container {
    background-color: var(--color-container);    
    width: 360px;    
    border-radius: 5px;
    margin: calc(50vh - 198px) auto;
}

form {
    padding: 40px 30px;    
}

form .logo {
    text-align: center;
    padding-bottom: 60px;       
}

form .input-container input, input[type="submit"] {
    width: 300px;
    height: 48px;
    border-radius: 8px;    
}

form .input-container input {
    border: 2px solid var(--color-input-border);
    color: var(--color-input-placeholder);
    padding: 13px 50px 13px 16px;
    margin-bottom: 15px;    
}

form .button-container {
    margin-top: 10px;
}

form .button-container input {
    font-size: 1.125rem;
    font-weight: 600;
    background-color: var(--color-button);
    color: var(--color-button-label);
    border: 2px solid var(--color-input-border);
    cursor: pointer;
}

form .input-container input:focus {
    outline: none;
    border-color: var(--color-button);
}